
<section>
    <div class="row justify-content-center">
    <input type="text" class="col-md-8  list-group-item list-group-item-action flex-column align-items-start" [(ngModel)]="filters" (keyup)="filterCapital()">  
    
    </div>
   <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="col-md-10 table-scrolling">      
                  <table class="admin-table table table-hover">
       <tr>
          <th>Name</th>
          <th>Native Name</th>
          <th>Capital</th>
          <th>Population</th>
          <th>Flag</th>
       </tr>
       <tr *ngFor="let x of CountryArray">
          <td>{{x.name}}</td>
          <td>{{x.nativeName}}</td>
          <td>{{x.capital}}</td>
          <td>{{x.population}}</td>
          <td><img style="width:80px;height:50px" src="{{x.flag}}"></td>
       </tr>
    </table>
    </div>
    </div>
  </section>